<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Exploring haptics to make VR worlds Touchable. 
            </p>
            <p class="paragraph-text justify-text">
                Ph.D student at KAIST GSCT, <a href="https://hcitech.org/" target="_blank" style="color:#007bff;">HCI Tech Lab</a>
            </p>
            <p class="paragraph-text justify-text">
                Passionate about VR/AR and creative ideas!
        </div>
    </section>
</div>
